<template name="teach">
    <h1>Hello, teachers</h1>
    <div class="row">
        <!--
<div class="col-xs-6 col-md-3">
<div class="panel panel-default">
<div class="panel-heading">
<a class="list-group-item add-section"><i class="fa fa-plus"></i> Add Section</a>
</div>
</div>
{{>mySectionMenuItem}}
</div>
-->
        <div class="col-xs-12 col-sm-7 col-md-9">
            <div class="form-group">
                <label for="courseTitle">Title</label>
                <input type="text" class="form-control" id="resourceTitle" placeholder="New Course">
            </div>
            <div class="form-group">
                <label for="authorName">Author</label>
                <input type="text" class="form-control" id="authorName" placeholder="Your Name">
            </div>
            <div class="form-group">
                <label for="resourceKeywords">Keywords</label>
                <input type="select" class="" id="resourceKeywords" placeholder="Choose some tags (e.g. JavaScript, Math)">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Change to 'Published' when course should be viewable to others</label>
                <select class="form-control" id="resourcePublished">
                    <option>Unpublished</option>
                    <option>Published</option>
                </select>
            </div>
            <div class="form-group">
                <label for="descriptionText">Description</label>
                <textarea class="form-control" rows="3" id="descriptionText"></textarea>
            </div>
            <button type="submit" class="btn btn-default" id="addResource">Submit</button>
        </div>
    </div>
</template>
<!--
<template name="mySectionMenuItem">
<div class="panel panel-default">
<div class="panel-heading"><a href="#">Title</a></div>
<div class="panel-body">
<a class="list-group-item add-lecture"><i class="fa fa-plus"></i> Add Lecture</a>
</div>
</div>
</template>
-->
