<template name="teach">
    <div class="panel">
        <div class="panel-heading">
            <h1 class="teach-main-title">Add new course</h1>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="courseTitle">Title</label>
                <input type="text" class="form-control" id="courseTitle" placeholder="New Course">
            </div>
            <div class="form-group">
                <label for="courseCoverPhoto">Cover Photo</label>
                <input type="file" class="btn btn-default" id="courseCoverImage">
            </div>
            <div class="form-group">
                <label for="authorName">Author</label>
                <input type="text" class="form-control" id="authorName" placeholder="Your Name">
            </div>
            <div class="form-group">
                <label for="courseKeywords">Keywords</label>
                <input type="select" class="" id="courseKeywords" placeholder="Choose some tags (e.g. JavaScript, Math)">
            </div>

            <div class="form-group">
                <label for="coursePublished">Change to 'Published' when course should be viewable to others</label>
                <select class="form-control" id="coursePublished">
                    <option>Unpublished</option>
                    <option>Published</option>
                </select>
            </div>
            <div class="form-group">
                <label for="aboutText">About this course</label>
                <textarea class="form-control" rows="3" id="aboutText"></textarea>
                <p class="help-block">Briefly describe the objectives of this course.</p>
            </div>
            <button type="submit" class="btn btn-success" id="addCourse">Submit</button>
        </div>
    </div>
</template>

