<template name="imageComponent">
    <div class="component-image">
        <img src="http://placehold.it/400x300" class="img-responsive" alt="Image Component" />
        <imgcaption class="image-caption">
            <div class="image-descr">Placeholder image</div>
            <div class="image-credits">
                <span>Image: Illya Nizyev</span>
                <span id="object-one"><a href="#reference-object-one">[1]</a></span>
            </div>
        </imgcaption>
    </div>
</template>
