<template name="courseToolbarContent">
    <ul class="nav nav-pills toolbar-pages-list navbar-left">
        <li class="active"><a href="/singleresourcepage">Course body</a></li>
        <li><a href="#">Course info</a></li>
        <li><a href="#">Course material</a></li>
        <li><a href="#">Discussions</a></li>
    </ul>
    <ul class="nav nav-pills navbar-right editors-toolbar" role="tablist">
        <li><a href="#"><i class="fa fa-eye"></i>
            Watch<span class="badge">4</span></a></li>
        <li><a href="#"><i class="fa fa-files-o"></i>
            Copy<span class="badge">14</span></a></li>
        <li><a id="edit-course" href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
    </ul>
</template>
