<template name="courseCard">
    <li class="col-md-3">
        <div class="thumbnail" style="padding: 0">
            <div style="padding:4px">
                <a href ="/course/{{ _id }}">
                    <img alt="300x200" style="width: 100%" src="http://placehold.it/200x150">
                </a>
            </div>
            <div class="caption">
                <h3>
                    <a href ="/course/{{ _id }}">{{ title }}</a>
                </h3>
                <p>by <a href="#">{{ author }}</a></p>
                <p>{{{ truncate about 77 }}}</p>
                <p>
                    <i class="fa fa-tag"></i> &nbsp;
                    {{# each keywords }}
                    <a class="tag-label" href="/tag/{{ this }}" title="Resources page for {{ this }}">
                        <span class="label label-primary">{{ this }}</span>
                    </a>
                    {{/each}}
                </p>

            </div>
            <!--
<div class="modal-footer" style="text-align: left">
<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}};">
<span class="sr-only">{{progress}} Complete</span>
</div>
</div>
<div class="row">
<div class="col-md-6"><b>{{progress}}</b><br/><small>COMPLETED</small></div>
<div class="col-md-6"><b>{{peers}}</b><br/><small>PEERS</small></div>
</div>
</div>
-->
        </div>
    </li>
</template>
