.profile-tabs {
	width: 70%;
	margin: auto;
	text-align: center;
	border-style: solid;
	border-width: 5px;
}

.profile-picture {
	width: 220px;
	height:220px;
	float:left ;
}

.profile-content {
	padding-top: 80px;	
	padding-left: 80px;
}


.creator-panel {
	width:50%;
	float:left;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;

}

.badge-panel {
	width:50%;
	float:right;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.numerator {
	font-size: 2em;
	color:blue;
}