.profile-tabs {
	width: 70%;
	margin: auto;
	text-align: center;
	border-style: solid;
	border-width: 5px;
}

.profile-picture {
	margin-top: 20px;
	margin-left:20px;
	width: 220px;
	height:220px;
	float:left ;
}

.profile-content {
	padding-top: 80px;	
	padding-left: 80px;
}

.profile-header {
	min-height: 250px;
}

.heroic-panel {
	width:25%;
	float:left;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.story-panel {
	width:25%;
	height:100px;
	float:left;
	line-height: 100px;
	text-align: center;
	font-size: 1.2em;
	background-color: #E4E4E4;
	margin-top: 30px;
	margin-bottom: 30px;
}

.edit-bio {
	padding-right: 50px;
}

.stick-right {
	float:right;
}

.numerator {
	font-size: 2em;
	color:blue;
}

.profile-courses-list {
  
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2; /*3 in those rules is just placeholder -- can be anything*/
}
.profile-courses-list li {
    display: inline-block; /*necessary*/
    margin-bottom: 20px;
}
.profile-courses-list img {
	float:left;
	margin-right:10px;
}
