<template name="currentlyLearningLeftNav">
	<nav class="nav-sidebar">
	    <h4>{{course.courseTitle}}</h4>
	    <ul class="nav">
	        <li class="nav-divider"></li>
	        <!-- <li class="active"><a href="{{pathFor 'basicinfo'}}">Section 1</a></li>
	        <li class="nav-second"><a href="{{pathFor 'curriculum'}}">{{lectures.lectureTitle}}</a></li>
	        <li class="nav-second"><a href="{{pathFor 'curriculum'}}">Lecture 1.2</a></li>
	        <li><a href="{{pathFor 'curriculum'}}">Section 2</a></li>
	        <li class="nav-second"><a href="{{pathFor 'curriculum'}}">Lecture 2.1</a></li> -->
	        {{>currentCurriculum}}
	        <li class="nav-divider"></li>
	    </ul>
	</nav>
</template>