<template name="courseListItem">
  <div class="course-list-item">
    <a href="{{#if isMyCoursesPath}}{{pathFor 'courseUpdate'}}{{else}}{{pathFor 'courseShow'}}{{/if}}">
      <div class="course-img">
        {{#if courseOwner}}
        <div class="owner-options">
          <a href="{{pathFor 'courseUpdate'}}" class="btn btn-default" title="Edit Course"><i class="fa fa-edit"></i></a>
        </div>
        {{/if}}
        <img class="img-resonsive" src="{{courseThumb}}">
      </div>
      <div class="well relative">
        <div class="course"><h4>{{maxChars courseTitle 40}}</h4></div>
				<p><b>by {{owner.username}} {{owner.profile.name}}</b></p>
        <p class="course-list-item-preview-text">{{maxChars getText 65}}</p>
        <div class="bottom">
          <p><i class="fa fa-tags" title="Tags"></i> {{maxChars getKeywords 28}}</p>
          <p><i class="fa fa-group" title="Age Group"></i> {{age}}</p>
        </div>
      </div>
    </a>
  </div>
</template>
