<template name="courseShow">
  <div class="row">
    <div class="col-xs-10">
      <h1 class="no-margin-top">{{course.courseTitle}}</h1>
    </div>
    <div class="col-xs-2">
      {{#if userIsntOwner}}
      <div class="pull-right">
        <a href="{{courseChangeRequestPath}}" class="btn btn-default btn-sm change-request" title="Change Request"><i class="fa fa-edit"></i></a>
        <a class="btn btn-default btn-sm copy" title="Copy Course"><i class="fa fa-copy"></i></a>
      </div>
      {{/if}}
    </div>
  </div>

  <p class="meta-information">
    <span><i class="fa fa-folder" title="Category"></i> {{course.getCategory}}</span>
    <span><i class="fa fa-thumbs-up" title="Votes"></i> {{course.getVotes}}</span>
    <span><i class="fa fa-tags" title="Tags"></i> {{course.getKeywords}}</span>
  </p>

  <div class="well img-max-width-100">
    {{#with course}}
    {{{renderMarkdown}}}
    {{/with}}
  </div>

  <div class="text-center">
    <a class="btn btn-primary btn-lg" href="{{firstLecturePath}}">Start Course</a>
  </div>
</template>
