<template name="courseListItem">
  <div class="course-list-item">
    <a href="{{pathFor 'courseShow'}}">
      <div class="course-img"><img class="img-resonsive" src="{{courseThumb}}"></div>
      <div class="well">
        <div class="course"><h4>{{courseTitle}}</h4></div>
        <p class="course-list-item-preview-text">{{getText 50}}</p>
        <p><i class="fa fa-tags" title="Tags"></i> {{getKeywords}}</p>
        <p><i class="fa fa-group" title="Age Group"></i> {{age}}</p>
      </div>
    </a>
  </div>
</template>
