<template name="singleresourcepage">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="resource-img">
                <img src="images/resource-img.png" />
            </div>

            <div class="resource-left-nav">
                <div class="panel panel-default">
                    <p>here goes all additional meta information</p>
                    <p>here goes all additional meta information</p>
                    <p>here goes all additional meta information</p>
                </div>
                <div class="panel panel-default ">
                    <div class="panel-heading">1. Title</div>
                    <div class="panel-body single-content-table-block">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#"><i class="fa fa-play-circle"></i>
                                1.1. Learning outcomes</a></li>
                            <li><a href="#"><i class="fa fa-play-circle"></i>
                                1.2. Importantce of social marketing</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">2. Title</div>
                    <div class="panel-body single-content-table-block">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#"><i class="fa fa-play-circle"></i> 2.1. Learning outcomes</a></li>
                            <li><a href="#"><i class="fa fa-play-circle"></i> 2.2. Importantce of social marketing</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">3. Title</div>
                    <div class="panel-body single-content-table-block">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#"><i class="fa fa-play-circle"></i> 3.1. Learning outcomes</a></li>
                            <li><a href="#"><i class="fa fa-play-circle"></i> 3.2. Importantce of social marketing</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-9">
            <div class="resource-page-title">
                <h1 class="resource-title">30 Days to Learn jQuery</h1>
                <span class="resource-author">originally by <a href="#">Illya Nizyev</a></span>
                <span class="resource-added-date">1 Feb 2014</span>
            </div>
            <div class="resource-page-content">
                <p class="resource-page-content">You know you need to learn jQuery. Everyone else has, and you’re falling behind! No worries; it’s a brand new year, and what better way to celebrate it than by learning a new skill? Give me thirty minutes every day for the next month, and I’ll transform you into a jQuery pro! You know you need to learn jQuery. Everyone else has, and you’re falling behind! No worries; it’s a brand new year, and what better way to celebrate it than by learning a new skill? Give me thirty minutes every day for the next month, and I’ll transform you into a jQuery pro!</p>
            </div>
        </div>
    </div>
</template>
