<template name="singleResource">
    <div class="panel panel-default ">
        <div class="panel-heading">1. Title</div>
        <div class="panel-body single-content-table-block">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#"><i class="fa fa-play-circle"></i>
                    1.1. Learning outcomes</a></li>
                <li><a href="#"><i class="fa fa-play-circle"></i>
                    1.2. Importantce of social marketing</a></li>
            </ul>
        </div>
    </div>
</template>
