<template name="courseChangeRequestApproval">

  <h1>{{{titleDiff}}}</h1>

  <p class="meta-information">
    <span><i class="fa fa-folder" title="Category"></i> {{{categoryDiff}}}</span>
    <span><i class="fa fa-group" title="Age Group"></i> {{{ageGroupDiff}}}</span>
    <span><i class="fa fa-tags" title="Tags"></i> {{{keywordsDiff}}}</span>
  </p>

  <div class="row">
    <div class="col-lg-8">
      <div class="well">
        {{{markdownDiff}}}
      </div>
    </div>
  </div>
  {{#unless ownChangeRequest}}
  <hr>
  <div>
    <button class="btn btn-default decline">Decline</button>
    <button class="btn btn-success accept">Accept</button>
  </div>
  {{/unless}}
</template>
