<!-- COMMENT -->
<!-- Use this navigation in every layout as your main top navigation -->
<!-- Use pathFor 'routeName' for href attribute -->
<!-- COMMENT -->
<template name="topNavigation">
  <div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}"><img class="img-responsive" src="/logo_nobg_v4.png"></a>
      </div>
      <div class="collapse navbar-collapse ">
        <ul class="nav navbar-nav">
          <li class="{{#if navActive 'intro'}}active{{/if}}"><a href="{{pathFor 'intro'}}">Intro</a></li>
          <li class="{{#if navActive 'courseList' 'courseShow' 'lectureShow' 'courseChangeRequest' 'lectureChangeRequest'}}active{{/if}}"><a href="{{pathFor 'courseList'}}">Learn</a></li>
          <li class="{{#if navActive 'teach' 'myCourses' 'courseUpdate' 'sectionUpdate' 'lectureUpdate'}}active{{/if}}"><a href="{{pathFor 'teach'}}">Teach</a></li>
          <li><a href="http://crowducate.uservoice.com/" target="_blank">Feedback/Support</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{maxChars userEmail 12}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="{{#if navActive 'changeRequests'}}active{{/if}}"><a href="{{pathFor 'changeRequests'}}">Change Requests <span class="badge">{{userOpenChangeRequests}}</span></a></li>
              <li class="{{#if navActive 'profile'}}active{{/if}}"><a href="{{pathFor 'profile'}}">My Profile <span class="badge">{{userPointsTotal}}</span></a></li>
              <li class="divider"></li>
              <li><a href="{{pathFor 'accountSettings'}}">Settings</a></li>
              <li class="divider"></li>
              <li><a href="{{pathFor 'logout'}}">Logout</a></li>
            </ul>
          </li>
          {{else}}
          <li class="{{#if navActive 'entrySignUp'}}active{{/if}}"><a href="{{pathFor 'entrySignUp'}}">Sign Up</a></li>
          <li class="{{#if navActive 'entrySignIn'}}active{{/if}}"><a href="{{pathFor 'entrySignIn'}}">Log In</a></li>
          {{/if}}
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->
</template>
