<template name="lectureedit">
	
	<div class="container">
		<div class="row">
            <div class="col-sm-3">
                <nav class="nav-sidebar">
                    <ul class="nav">
                        <h4>Coursetitle (with handlebars)</h4>
                        <li class="nav-divider"></li>
                        <li class="active"><a href="{{pathFor 'basicinfo'}}">Basic Info</a></li>
                        <li><a href="{{pathFor 'curriculum'}}">Curriculum</a></li>
                        <li class="nav-divider"></li>
                    </ul>
                </nav>
            </div>

			<div class="col-sm-9">
					<h4> Edit the Excerise (1st tab) and Quiz (2nd tab)</h4>
					<!-- Nav tabs -->
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab1" data-toggle="tab">Excercise</a></li>
						<li><a href="#tab2" data-toggle="tab">Quiz</a></li>
					</ul>
					
					<div class="tab-content">
						<div class="tab-pane active" id="tab1">
				            <form role="form">
							  <div class="form-group">
							    <label for="intro"></label>
							    <h5>Introduction for the Lecture<h5>
							    <textarea class="form-control" rows="3" name="intro" placeholder="Write a brief summary what this lecture is about."></textarea>
							  </div><!--tab pane-->

							  <div class="form-group">
							    <label for="instructions"></label>
							    <h5>Instructions for the Quiz<h5>
							    <textarea class="form-control" rows="3" name="instructions" placeholder="Add the video, link, text etc. which the student has to go through to be able to answer the quiz for this excercise."></textarea>
							  </div>
							  	<button type="submit" class="btn btn-primary">Save</button>
							</form><!-- end form -->
						</div><!-- Tab panes -->

						<div class="tab-pane active" id="tab2">
						 <form role="form">
						  <div class="form-group">
						    <label for="question"></label>
						    <h5>Enter the question for this specific lecture.<h5>
						    <textarea class="form-control" rows="2" name="intro" placeholder="The question must be based on the excercise of the current lecture."></textarea>
						  </div><!--tab pane-->

						  <div class="form-group">
						  	<h5>Type 4 possible answers. Check the correct answer. Currently, there can be only ONE correct answer.</h5>
						  	<label class="control-label" for="1stAnswer">1st Answer:</label>
						  	</br>
						  	<input type="radio" name="optionsAnswers" id="1stAnswerOption" value="1stAnswerOption"> Check the left button if this is the correct answer.
						  	<input type="text" name="1stAnswer" class="form-control" value="">
						  	
						  </div>

						  <div class="form-group">
					  		<label class="control-label" for="2ndAnswer">2nd Answer:</label>
					  		</br>
					  		<input type="radio" name="optionsAnswers" id="2ndAnswerOption" value="2ndAnswerOption"> Check the left button if this is the correct answer.  
					  		<input type="text" name="2ndAnswer" class="form-control" value="">
					  		
						  </div>

					  	  <div class="form-group">
				    		<label class="control-label" for="3rdAnswer">3rd Answer:</label>
				    		</br>
				    		<input type="radio" name="optionsAnswers" id="3rdAnswerOption" value="3rdAnswerOption"> Check the left button if this is the correct answer.
				    		<input type="text" name="3rdAnswer" class="form-control" value="">
				    		
					  	  </div>

						  <div class="form-group">
					  		<label class="control-label" for="4thAnswer">4th Answer:</label>
					  		</br>
					  		<input type="radio" name="optionsAnswers" id="4thAnswerOption" value="4thAnswerOption"> Check the left button if this is the correct answer.
					  		<input type="text" name="4thAnswer" class="form-control" value="">
					  		
						  </div>

							  <button type="submit" class="btn btn-primary">Save</button>
							</form><!-- end form -->
						</div> <!--tab pane-->
					</div> <!--tab content-->
				</div>	<!--col 9-->            
        </div> <!-- row -->
    </div><!-- /.container -->
</template>