<template name="courseSidebar">
    <div class="course-navigation">
        <div class="col-xs-12 col-md-3">
            {{# if editingThisCourse }}
            <div class="panel">
                {{> addSection }}
            </div>
            {{/ if }}
            
            {{# if sectionIDs }}
              {{# each sectionIDs }}
                {{> courseSidebarSection }}
              {{/ each }}
            {{ else }}
            <p>
                {{ mf
                'courseSidebar-noSectionsDefined-helpText'
                'No sections have been defined. Go into edit mode to add one or more sections.'
                }}
            </p>
            {{/ if }}
        </div>
    </div>
</template>
