<template name="basicinfo">

	<div class="container">
		<div class="row">
            <div class="col-sm-3">
                <nav class="nav-sidebar">
                    <ul class="nav">
                        <h4>Coursetitle (with handlebars)</h4>
                        <li class="nav-divider"></li>
                        <li class="active"><a href="{{pathFor 'basicinfo'}}">Basic Info</a></li>
                        <li><a href="{{pathFor 'curriculum'}}">Curriculum</a></li>
                        <li class="nav-divider"></li>
                    </ul>
                </nav>
            </div>

            <div class="col-sm-9 well">
	            <form role="form">
				  <div class="form-group">
				    <label for="InputCourse">Title of the Course:</label>
				    <input type="text" class="form-control" name="courseTitle" placeholder="Enter the name of the course">
				  </div>
				  <div class="form-group">
				    <label for="InputSubtitle">Subtitle:</label>
				    <input type="text" class="form-control" name="subtitle" placeholder="Write a sentence or two about the content">
				  </div>
				  <div class="form-group">
				    <label for="InputKW">Keywords (Tags):</label>
				    <input type="text" class="form-control" name="keywords" placeholder="Choose some tags (e.g. JavaScript; Math)">
				  </div>

				  	<div class="row">
					  <div class="col-xs-6 form-group">
					    <label for="InputCat">Category:</label>
					   		<select class="form-control" name="category" >
					   			<option value="Business">Business</option>
					   			<option value="Humanities">Humanities</option>
					   			<option value="Science">Math/Science</option>
					   			<option value="Programming">Programming</option>
					   		</select>
					  </div>
						<div class="col-xs-6 form-group">
							<label for="InputCat">Age Group:</label>
						   		<select class="form-control" name="age">
						   			<option value="7+">7+</option>
						   			<option value="10+">10+</option>
						   			<option value="12+">12+</option>
						   			<option value="15+">15+</option>
						   			<option value="18+">18+</option>
						   		</select>
						</div>
					</div>
				  	<button type="submit" class="btn btn-primary center-block">Save</button>
				</form>
			</div> <!-- col-md-9 -->
        </div> <!-- row -->
    </div><!-- /.container -->
</template>