<template name="editableTitleDescription">
    {{#if isEditingCurrentCourse}}
        <div class="form-group-sm">
            <input id="questionTitle"
                   type="text" class="form-control"
                   placeholder="Enter question title"
                   value="{{question.title}}"
                    />
        </div>
        <div class="form-group-sm">
                <textarea id="questionDescription"
                          class="form-control"
                          rows="3"
                          placeholder="Enter description"
                        >{{question.description}}</textarea>
        </div>

    {{else}}
        <div class="form-group-sm">
            <h4>
                {{question.title}}
            </h4>

        </div>
        <div class="form-group-sm">
                <p id="questionDescription">{{question.description}}</p>
        </div>
    {{/if}}
</template>